<h2>Create a new Prehistoric Creature</h2>
<form method="POST" action="/prehistoric_creatures">
  <label for="prehistoric_creatures type">Type: </label>
  <input type="text" id="" dinoType name="type" />
  <label for="prehistoric_creatures name">Name: </label>
  <input id="prehistoric_creaturesName" type="text" name="name" />
  <input type="submit"></form>
</form>
